<div class="container">
    <h1>Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">

        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                This is an <strong>.alert</strong>. Use this to show important messages to the user.
            </div>
            <h3>Personal info</h3>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <input type="text" name="Patient[username]" id="username" tabindex="1" class="form-control" placeholder="Username" value="" required="true">
                </div>
                <div class="form-group">
                    <input type="email" name="Patient[email]" id="email" tabindex="2" class="form-control" placeholder="Email Address" value="" required="true">
                </div>
                <div class="form-group">
                    <input type="text" name="Patient[firstname]" id="firstname" tabindex="4" class="form-control" placeholder="First name" required="true">
                </div>
                <div class="form-group">
                    <input type="text" name="Patient[middlename]" id="middlename" tabindex="5" class="form-control" placeholder="Middle name" required="true">
                </div>
                <div class="form-group">
                    <input type="text" name="Patient[lastname]" id="lastname" tabindex="6" class="form-control" placeholder="Last name" required="true">
                </div>
                <div class="form-group">
                    <input type="text" name="Patient[address]" id="address" tabindex="7" class="form-control" placeholder="Address" required="true">
                </div>
                <div class="form-group">
                    <input type="text" name="Patient[telephone]" id="telephone" tabindex="8" class="form-control" placeholder="Telephone" required="true">
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="button" class="btn btn-primary" value="Save Changes">
                        <span></span>
                        <input type="reset" class="btn btn-default" value="Cancel">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>