<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Login as a patient</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">Register as a patient</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" action="/index.php/home/loging/patient" method="post" role="form" style="display: block;">
                                <input type="hidden" name="type" value="patient">
                                <div class="form-group">
                                    <input type="text" name="Patient[username]" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="Patient[password]" id="password" tabindex="2" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group text-center">
                                    <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                    <label for="remember"> Remember Me</label>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>


                            <form id="register-form" action="/index.php/home/register/patient" method="post" role="form" style="display: none;">
                                <input type="hidden" name="type" value="patient">
                                <div class="form-group">
                                    <input type="text" name="Patient[username]" id="username" tabindex="1" class="form-control" placeholder="Username" value="" required="true">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="Patient[email]" id="email" tabindex="2" class="form-control" placeholder="Email Address" value="" required="true">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="Patient[password]" id="password" tabindex="3" class="form-control" placeholder="Password" required="true">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirm-password" id="confirm-password" tabindex="3" class="form-control" placeholder="Confirm Password" required="true">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="Patient[firstname]" id="firstname" tabindex="4" class="form-control" placeholder="First name" required="true">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="Patient[middlename]" id="middlename" tabindex="5" class="form-control" placeholder="Middle name" required="true">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="Patient[lastname]" id="lastname" tabindex="6" class="form-control" placeholder="Last name" required="true">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="Patient[address]" id="address" tabindex="7" class="form-control" placeholder="Address" required="true">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="Patient[telephone]" id="telephone" tabindex="8" class="form-control" placeholder="Telephone" required="true">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="10" class="form-control btn btn-register" value="Register Now">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>